.article-yearItem{
    display: flex;
}
.article-data{
    width: 100px;
    font-size: 2rem;
    text-align: center;
}
.article-information{
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 0px 20px 0px 10px;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: justify;
    color: var(--Robotics-text);
    border-left: 2px solid var(--Robotics-fColor);
}